body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
    height: 100%; // Permite que la altura mínima de la página sea la altura de la ventana
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column; // Organiza los hijos de root en columna
    min-height: 100%; // Asegura que el contenedor tenga al menos la altura de la ventana
}


.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Asegura que el layout ocupe al menos la altura completa de la ventana
    
}

.navbar {
    background-color: #343a40; 
    color: #ffffff;
    text-align: center;
    
}

.footer {
    background-color: #343a40; 
    color: #ffffff;
    text-align: center;
    
}


.content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    color: #212529; 
}

.navbar {
    background-color: #343a40; 
    color: #ffffff; 

    .nav-link {
        color: #f8f9fa; 

        &:hover {
            color: #cbd3da; 
        }
    }

    .navbar-brand {
        color: #ffffff;

        &:hover {
            color: #cbd3da; 
        }
    }
}

.formulario-custom {
    max-width: 600px; 
    margin: auto; 
  }
  
  .formulario-custom .btn {
    display: block;
    width: 40%; 
    margin: 20px auto 0; 
  }
  


